.cart-banner {
    background: rgb(4,91,109);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../public/image/pexels-nxtclick02-17971536.jpg');
    background-size: cover;
    background-position: center;
    padding: 90px 0;
    text-align: left;
    margin-bottom: 40px;
    font-family: "Great Vibes", serif;
  }
  
  .banner-cart h1 {
    color: black;
    font-size: 48px;
    padding-left: 20rem;
  }
  
  .logo h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    
  }

@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }

    .card-registration .select-arrow {
    top: 13px;
    }

    .bg-grey {
    background-color: #eae8e8;
    }

    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }